<md-toolbar layout="row" layout-padding class="breadcrumb">
  
  <div layout="row" layout-align="start center">
    <span class="md-title" ng-click="goHome()">Call Home &nbsp;</span>

    <div ng-if="cloud">
      <span class="md-title" ng-click="selectCloud(cloud)" aria-label="Cloud">&nbsp; > &nbsp; {{cloud.name}}</span>
    </div>

    <div ng-if="reseller">
      <span class="md-title" ng-click="selectReseller(reseller)" aria-label="Reseller">&nbsp; > &nbsp; {{reseller.name}}</span>
    </div>

    <div ng-if="customer">
      <span class="md-title" ng-click="selectCustomer(customer)" aria-label="Customer">&nbsp; > &nbsp; {{customer.name}}</span>
    </div>
    
    <div ng-if="deviceId">
      <span class="md-title" aria-label="Device">&nbsp; > &nbsp; {{device.name}}</span>
    </div>
  </div>
  <span flex=""></span>
  <div layout="row" layout-align="end center"><a ui-sref="logout">Logout</a></div>
</md-toolbar>