<md-toolbar layout="row" layout-padding class="breadcrumb">
  
  <div layout="row" layout-align="start center">
    <span class="md-title" ng-click="goHome()">Call Home &nbsp;</span>

    <div ng-if="cloud">
      <span class="md-title" ng-click="selectCloud(cloud)" aria-label="Cloud">&nbsp; > &nbsp; {{cloud.name}}</span>
    </div>

    <div ng-if="reseller">
      <span class="md-title" ng-click="selectReseller(reseller)" aria-label="Reseller">&nbsp; > &nbsp; {{reseller.name}}</span>
    </div>

    <div ng-if="customer">
      <span class="md-title" ng-click="selectCustomer(customer)" aria-label="Customer">&nbsp; > &nbsp; {{customer.name}}</span>
    </div>
    
    <span ng-show="deviceId">&gt;</span>
    <md-select ng-show="deviceId" ng-model="deviceId" ng-change="selectDevice(deviceId)" aria-label="Device">
      <md-option ng-repeat="aDevice in devices" value="{{aDevice.id}}">{{aDevice.name}}</md-option>
    </md-select>

  </div>
  <span flex=""></span>
  <div layout="row" layout-align="end center"><a ui-sref="logout">Logout</a></div>
</md-toolbar>