<div ng-include src="'views/breadcrumb.html'"></div>

<md-content>
  
  <div layout="row" class="background">

    <div class="col-md-3 sidebar-container" layout-margin>
      <sidebar model="cloud" type="'cloud'" 
        software-versions="softwareVersions"
        add-filter-function="addFilter"
        action-filter-function="actionFilter"
        edit-filter-function="editFilter"
        can-modify-event-url-function="canModifyEventUrl" 
        can-modify-image-server-url-function="canModifyImageServerUrl"
        create-software-version-function="openSoftwareVersionForm"
        can-modify-software-version-function="canModifySoftwareVersion"
        can-modify-checkin-interval-function="canModifyCheckinInterval"
        can-modify-signalling-server-function="canModifySignallingServer"
        filters="filters"
        children="children"
        selected-filters="selectedFilters"
        owned-filters="ownedFilters"
        cascaded-filters="cascadedFilters"
        filter-changed-function="filterChanged"
        assign-filters-function="assignFilters"
        select-connector-function="selectConnector"/>
    </div>

    <div class="child-list col-md-8" class="main-content" layout-fill layout-padding>
      <h2>Resellers</h2>
      <md-grid-list md-cols="1" md-row-height="50px" md-gutter="10px">

        <md-grid-tile ng-repeat="reseller in cloud.resellers" class="card" 
          ng-click='selectReseller(reseller)' md-rowspan="0" md-colspan="1">

          <div layout-fill layout-align="start center" layout-padding>
            <span class="md-title" style="vertical-align: middle; line-height:50px;">{{reseller.name}}</span>
          </div>
        </md-grid-tile>

      </md-grid-list>
        
    </div>

    <!-- <pagination ng-model="currentPage" total-items="totalResellers" max-size="resellersPerPage" boundary-links="true" direction-links="false"></pagination> -->

  </div>

</md-content> 


<md-button class="md-fab md-accent md-fab-bottom-right" style="background-color:white;" ng-click="openResellerForm($event, cloud)">
  <md-icon md-font-library="material-icons">add</md-icon>
</md-button>