<md-dialog style="width:60%" aria-label="Set Password">

  <md-toolbar>
      <div class="md-toolbar-tools">
      <h2>Create User</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeCreateUser()">
        <md-icon md-svg-icon='close' aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div layout-padding layout-margin>
    <md-dialog-content style="width:100%">
      <p>Create a new user for this customer</p>
      <div>
        <div>
          <md-input-container style="width:100%">
            <label>Email</label>
            <input required type="text" class="form-control focus" name="email" autocomplete="off" required ng-model="newUser.email">
          </md-input-container>
        </div>
        <div>
          <md-checkbox ng-model="newUser.sendSetPasswordEmail">Set password through email</md-checkbox>
        </div>
        <div>
          <md-input-container style="width:100%">
            <label>Password</label>
            <input  ng-disabled="newUser.sendSetPasswordEmail" type="password" class="form-control" name="password" autocomplete="off" ng-required="!newUser.sendSetPasswordEmail" ng-model="newUser.password">
          </md-input-container>
        </div>
        <div>
          <md-input-container style="width:100%">
            <label>User Type</label>
            <md-select ng-model="newUser.userType" class="form-control">
              <md-option ng-repeat="userType in userTypes" value="{{userType}}">{{userType}}</md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
  </div>
  <div class="md-actions">
    <md-button ng-click="closeCreateUser()" class="md-primary">Cancel</md-button>
    <md-button ng-click="_createUser()" class="md-primary" ng-disabled="">Create user</md-button>
  </div>
</md-dialog>
