<md-dialog aria-label="New Customer">
  
  <md-toolbar>
      <div class="md-toolbar-tools">
      <h2>New Customer</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-icon='close' aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div layout="column" layout-margin layout-padding style="margin-top:10px" layout-align="space-between center">
      <md-input-container>
        <label>Name</label>
        <input type="text" class="form-control focus" name="name" autocomplete="off" required ng-model="newCustomer.name">
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input type="text" class="form-control" name="email" autocomplete="off" required ng-model="newCustomer.email">
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" class="form-control" name="password" autocomplete="off" required ng-model="newCustomer.password">
      </md-input-container>
      <md-input-container class="{{newCustomer.password != newCustomer.checkPassword && newCustomer.password && newCustomer.checkPassword ? 'md-input-invalid' : '' }}">
        <label>Retype Password</label>
        <input type="password" class="form-control" name="checkPassword" autocomplete="off" required ng-model="newCustomer.checkPassword">
      </md-input-container>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()">
     Cancel
    </md-button>
    <md-button  ng-disabled="newCustomer.password != newCustomer.checkPassword || !newCustomer.name || !newCustomer.email || !newCustomer.password || !newCustomer.checkPassword" ng-click="create()" style="margin-right:20px;">
      Create
    </md-button>
  </div>
  
</md-dialog>