<div ng-include src="'views/breadcrumb.html'"></div>

<md-content>

  <div layout="row" class="background">

    <div class="col-md-3  sidebar-container">
      <sidebar style="height:100%" model="customer" type="'customer'"
        add-license-function="addLicense"
        show-license-function="showLicense"
        add-filter-function="addFilter"
        add-report-function="addReport"
        edit-filter-function="editFilter"
        action-filter-function="actionFilter"
        action-report-function="actionReport"
        delete-function="deleteCustomer"
        rename-function="renameCustomer"
        software-versions="softwareVersions"
        default-software-version="defaultSoftwareVersion"
        filters="filters"
        can-modify-event-url-function="canModifyEventUrl"
        can-modify-image-server-url-function="canModifyImageServerUrl"
        create-software-version-function="openSoftwareVersionForm"
        can-modify-software-version-function="canModifySoftwareVersion"
        can-modify-checkin-interval-function="canModifyCheckinInterval"
        can-modify-signalling-server-function="canModifySignallingServer"
        children="children"
        load-filters="loadFilters"
        owned-filters="ownedFilters"
        cascaded-filters="cascadedFilters"
        reports="reports"
        owned-reports="ownedReports"
        cascaded-reports="cascadedReports"
        filter-changed-function="filterChanged"
        report-changed-function="reportChanged"
      />
    </div>

    <div class="child-list col-md-8" layout-margin layout-fill layout-padding>
      <h2>Devices</h2>
      <md-tabs md-dynamic-height>
        <md-tab label="LIST">
          <input type="text" placeholder="Search" ng-model="searchFilter" class="device-search form-control">
          <md-content class="card">
            <table class="device-table" width="100%" style="margin: 0px;">
            <tr>
              <th align="left" ng-click="changeSorting('name')">Device Name</th>
              <th align="left" ng-click="changeSorting('address')">Address</th>
              <th align="left" ng-click="changeSorting('onlineStatus')">Status</th>
              <th align="left"></th>
              <th align="left" ng-click="changeSorting('status')">Camera Status</th>
              <th align="left"></th>
            </tr>
            <tr class="device-table-row" ng-repeat="device in customer.devices | orderBy: sort.column:sort.descending | filter: searchFilter" ng-click="selectDevice(device)">
              <td>{{device.name}}</td>
              <td>{{device.address}}</td>
              <td ng-style="setDeviceStatusStyling(device)">{{device.onlineStatus}}</td>
              <td>
                <md-icon md-svg-icon="checkmark" md-menu-align-target ng-show="device.onlineStatus=='Online'"></md-icon>
                <md-icon md-svg-icon="error" md-menu-align-target ng-show="device.onlineStatus=='Offline'"></md-icon>
                <md-icon md-svg-icon="warning" md-menu-align-target ng-show="device.onlineStatus=='Unknown'"></md-icon>
              </td>
              <td ng-style="setCameraStatusStyling(device)">{{device.onlineCameraCount}}/{{device.cameras.length}} Online</td>
              <td>
               <md-icon md-svg-icon="checkmark" md-menu-align-target ng-show="device.status=='green'"></md-icon>
                 <md-icon md-svg-icon="error" md-menu-align-target ng-show="device.status=='red'"></md-icon>
                 <md-icon md-svg-icon="warning" md-menu-align-target ng-show="device.status=='yellow'"></md-icon>
  <!--              <md-icon md-svg-icon="checkmark" md-menu-align-target ng-show="device.statusIconColor=='green'"></md-icon>
                <md-icon md-svg-icon="error" md-menu-align-target ng-show="device.statusIconColor=='red'"></md-icon>
                <md-icon md-svg-icon="warning" md-menu-align-target ng-show="device.statusIconColor=='yellow'"></md-icon> -->
              </td>
            </tr>
            </table>
          </md-content>
        </md-tab>

        <md-tab label="MAP">
          <map devices="allDevices"></map>
        </md-tab>

        <md-tab label="USERS">
          <user-management users="users" devices="devices"></user-management>
        </md-tab>
      </md-tabs>
    </div>
  </div>

</md-content>
