<div ng-include src="'views/breadcrumb.html'"></div>

<md-content>

  <div layout="row" style="background-color: #f0f0f0;">
    
    <div class="col-md-3" layout-margin>
      <sidebar model="customer" type="'customer'"/>
    </div>

    <div class="col-md-8" layout-margin layout-fill layout-padding>
      <h2>Devices</h2>

      <md-grid-list md-cols="1" md-row-height="100px" md-gutter="10px">

        <md-grid-tile ng-repeat="device in customer.devices" class="card" ng-click='selectDevice(device)' md-rowspan="0" md-colspan="1">
          <div layout-fill layout-align="start center" layout-padding>
            <div layout="row" layout-margin layout-fill layout-padding>
                <div layout="col" layout-align="start center"><h2 class="md-title">{{device.name}}</h2></div>
                  <span flex=""></span>
                  
                  <div layout-align="end center">
                    <span ng-show="deviceData[device.id].posStatus.total > 0" style="vertical-align:middle">
                      <b>{{deviceData[device.id].posStatus.online}} / {{deviceData[device.id].posStatus.total}}</b> POS Online 
                      <md-icon md-svg-icon='indicator_{{deviceData[device.id].posStatus.color}}'></md-icon>
                    </span>
                    
                    <span ng-show="deviceData[device.id].cameraStatus.total > 0" style="vertical-align:middle">
                      <b>{{deviceData[device.id].cameraStatus.online}} / {{deviceData[device.id].cameraStatus.total}}</b> Cameras Online 
                      <md-icon md-svg-icon="indicator_{{deviceData[device.id].cameraStatus.color}}"></md-icon>
                    </span>

                  </div>
              </div>
          </div>
        </md-grid-tile>

      </md-grid-list>

    </div>
  </div>

</md-content>
