<div ng-include src="'views/breadcrumb.html'"></div>

  <md-content>
    <div layout="row" class="background">

      <div class="col-md-3  sidebar-container">
        <sidebar model="device" type="'device'"
          delete-function="deleteReseller"
          software-versions="softwareVersions"
          default-software-version="defaultSoftwareVersion"
          can-modify-event-url-function="canModifyEventUrl"
          can-modify-image-server-url-function="canModifyImageServerUrl"
          create-software-version-function="openSoftwareVersionForm"
          can-modify-software-version-function="canModifySoftwareVersion"
          can-modify-checkin-interval-function="canModifyCheckinInterval"
          can-modify-signalling-server-function="canModifySignallingServer"/>
      </div>

      <div class="child-list col-md-8" layout-margin layout-fill layout-padding style="height:auto">

        <md-content class="card">
          <div layout="row" layout-align="start center">
            <!--md-icon md-svg-icon='indicator_{{device.status}}' style="width:24px;margin:10px;"></md-icon>
            <!--<md-icon md-svg-icon='indicator_{{device.statusIconColor}}' style="width:24px;margin:0px;"></md-icon>-->
          </div>

          <div layout="row" style="margin-left:10px;margin-right:10px" >
            <md-input-container flex>
              <label>License - activated on {{device.license.activationDate | date:'yyyy/MM/dd'}}</label>
                <input ng-model="device.license.key" disabled>
              </md-input-container>
              <md-input-container flex>
                <label>Device ID</label>
                <input ng-model="device.id" disabled>
              </md-input-container>
          </div>

          <md-tabs md-dynamic-height>
            <md-tab label="CHECK-IN">
              <div layout="column" style="margin:20px 20px 10px 20px;">
                <h3>Check-in History ({{device.logEntries.length}})</h3>
                <div layout="row" style="height:{{checkinHeight}}px;" ng-if="device.logEntries.length" layout-align="center stretch">

                  <md-content flex="30" style="border-left: 1px solid rgba(0, 0, 0, 0.117647);border-top: 1px solid rgba(0, 0, 0, 0.117647);border-bottom: 1px solid rgba(0, 0, 0, 0.117647);">
                    <md-list layout-padding>
                      <md-list-item style="min-height: 30px !important; border-bottom: 1px solid rgba(0, 0, 0, 0.117647)" ng-repeat="entry in device.logEntries" ng-click="showCheckin(entry, $index)" id="logEntry-{{$index}}" class="logEntries {{device.currentEntry.timestamp === entry.timestamp? ' active': ''}}">
                          {{ entry.timestamp | date: 'medium' }}
                      </md-list-item>

                      <md-list-item ng-click="loadMore(100)" ng-if="!device.noMoreLogs">
                        Load more...
                      </md-list-item>


                    </md-list>
                  </md-content>

                <div ng-cloak flex style="border: 1px solid rgba(0, 0, 0, 0.117647);">
                  <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>

                      <md-tab label="raw checkin data">
                        <md-content style="height:{{checkinHeight-51}}px;">
                          <pre pretty-json="device.currentEntry"></pre>
                        </md-content>
                      </md-tab>

                      <md-tab label="devices status">
                        <md-content style="height:{{checkinHeight-51}}px;">
                        <div layout="column" style="margin:20px;">
                          <div layout="row" layout-align="space-around center">
                            <div layout="column" layout-align="start start" layout-fill>

                              <div style="margin-bottom: 5px;"><b>Cameras</b></div>
                                <div layout="row" layout-fill layout-align="space-between center" ng-repeat="camera in device.currentEntry.cameraInformation" style="padding-left: 25px;">
                                  <span>{{ camera.name }}</span>
                                  <span flex="20"/>
                                  <md-icon md-svg-icon='indicator_{{camera.status === "online" ? "green" : camera.status === "offline" ? "red" : "yellow"}}'></md-icon>
                                </div>
                              <br/>

                              <div style="margin-bottom: 5px;"><b>POS Devices</b></div>
                              <div layout="row" layout-fill layout-align="space-between center" ng-repeat="posDevice in device.currentEntry.posInformation" style="padding-left: 25px;">
                                <span>{{ posDevice.name }}</span>
                                <span flex="20"/>
                                <md-icon md-svg-icon='indicator_{{posDevice.status === "online" ? "green" : posDevice.status === "offline" ? "red" : "yellow"}}'></md-icon>
                              </div>
                            </div>
                          </div>
                        </div>
                        </md-content>
                      </md-tab>

                    </md-tabs>
                  </md-content>
                </div>

                </div>
              </div>
              <div style="margin:0px 20px 20px 12px">
                <div layout="row" style="height: 55px;">
                  <md-button flex="15" class="md-raised" ng-click="checkin(device)" ng-if="device.id != sendingCheckin">Check-in</md-button>
                  <md-progress-circular md-mode="indeterminate" ng-if="device.id == sendingCheckin || device.loadingMore" md-diameter="30"></md-progress-circular>
                </div>
              </div>
            </md-tab>
            <!--<md-tab label="EVENTS">
              <div layout="column" style="margin: 20px;">
                <div layout="row" layout-align="space-around center">
                  <md-input-container>
                    <label>Transactions</label>
                    <md-select ng-model="device.transactions">
                      <md-option value="FIFO" selected>FIFO</md-option>
                      <md-option value="LIFO">LIFO</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container>
                    <label>Motion</label>
                     <md-select ng-model="device.motion">
                      <md-option value="FIFO">FIFO</md-option>
                      <md-option value="LIFO" selected>LIFO</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container>
                    <label>Bitrate</label>
                    <md-select ng-model="device.bitrate">
                      <md-option value="128" selected>128 kbps</md-option>
                      <md-option value="256">256 kbps</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container>
                      <label>Save Events for</label>
                      <md-select ng-model="device.saveEventsFor">
                        <md-option value="7" selected>7 Days</md-option>
                        <md-option value="17">14 Days</md-option>
                      </md-select>
                  </md-input-container>
                  <md-input-container>
                      <label>Max Number of Events</label>
                      <md-select ng-model="device.maxNumberOfEvents">
                        <md-option value="20000" selected>20000</md-option>
                        <md-option value="50000">50000</md-option>
                      </md-select>
                  </md-input-container>
                </div>
              </div>
            </md-tab>-->
            <md-tab label="DEVICES">
              <div layout="column" style="margin:20px;">
                <md-input-container>
                <div layout="row" layout-align="space-around center">
                  <div layout="column" layout-align="start start" layout-fill>

                    <div style="margin-bottom: 5px;"><b>Cameras</b></div>
                    <md-content layout-fill style="height:100px; border: 1px solid rgba(0, 0, 0, 0.117647)">
                      <md-list layout-padding>
                        <md-list-item style="height:26px; min-height:20px !important;" ng-repeat="camera in device.cameras">
                          <div layout="row" layout-fill layout-align="space-between center">
                            <span>{{ camera.name }}</span>
                            <span flex="20"/>
                            <md-icon md-svg-icon='indicator_{{camera.status === "online" ? "green" : camera.status === "offline" ? "red" : "yellow"}}'></md-icon>
                          </div>
                      </md-list-item>
                    </md-content>

                    <div flex></div>
                    <br/>

                    <div style="margin-bottom: 5px;"><b>POS Devices</b></div>
                    <md-content layout-fill style="height:100px; border: 1px solid rgba(0, 0, 0, 0.117647)">
                      <md-list layout-padding>
                        <md-list-item style="height:20px; min-height:20px !important;" ng-repeat="posDevice in device.posDevices">
                        <div layout="row" layout-fill layout-align="space-between center">
                          <span>{{ posDevice.name }}</span>
                          <span flex="20"/>
                          <md-icon md-svg-icon='indicator_{{posDevice.status === "online" ? "green" : posDevice.status === "offline" ? "red" : "yellow"}}'></md-icon>
                        </div>
                      </md-list-item>
                    </md-content>

                  </div>
                </div>

              </div>
            </md-tab>
            <md-tab label="SETTINGS">
              <div >
                <div layout="column" style="margin: 10px;">
                  <md-input-container>
                    <label> Override IP Address</label>
                    <input type="text" id="override" ng-model="device.overrideIpAddress" />
                  </md-input-container>

                  <md-input-container>
                    <label>VMS Port</label>
                    <input type="text" id="overrideVmsPort" ng-model="device.overrideVmsPort" />
                  </md-input-container>

                  <md-input-container>
                    <label>Connect Port</label>
                    <input type="text" id="overrideConnectPort" ng-model="device.overrideConnectPort" />
                  </md-input-container>

                  <md-input-container>
                    <label>Checkin Port</label>
                    <input type="text" id="overrideCheckinPort" ng-model="device.overrideCheckinPort" />
                  </md-input-container>

                  <md-input-container>
                    <label>Uploader Port</label>
                    <input type="text" id="overrideUploaderPort" ng-model="device.overrideUploaderPort" />
                  </md-input-container>

                  <md-input-container>
                    <label>Listener Port</label>
                    <input type="text" id="overrideListenerPort" ng-model="device.overrideListenerPort" />
                  </md-input-container>

                  <md-input-container>
                    <label>Camera Config Forward Port</label>
                    <input type="text" id="overrideConfigForwardPort" ng-model="device.overrideConfigForwardPort" />
                  </md-input-container>
                  
                </div> 
                <md-button class="md-raised" ng-click="modifySettings()" ng-disabled="isSavingSettings">OK</md-button>
              </div>
            </md-tab>
            <md-tab label="CONNECTORS">
              <div layout="column" style="margin:20px;">
                <md-input-container>
                <div layout="row" layout-align="space-around center">
                  <div layout="column" layout-align="start start" layout-fill>

                    <div style="margin-bottom: 5px;"><b>Listeners</b></div>
                    <md-content layout-fill style="height:200px; border: 1px solid rgba(0, 0, 0, 0.117647)">
                      <md-list layout-padding>
                        <md-list-item style="height:20px; min-height:20px !important;" ng-repeat="posInfo in checkinData[0].posInformation">
                        <div layout="row" layout-fill layout-align="space-between center">
                          <span class="pos-name">{{ posInfo.name }}</span>
                          <span class="pos-type">{{ posInfo.type }}</span>
                          <span class="pos-host" ng-if="posInfo.type == 'tcp'">{{ posInfo.host }}:{{ posInfo.port }}</span>
                          <span class="pos-url" ng-if="posInfo.type == 'socketio'">{{ posInfo.url }}</span>

                          <span flex="20"/>
                          <md-icon md-svg-icon='indicator_{{posInfo.status === "online" ? "green" : posInfo.status === "offline" ? "red" : "yellow"}}'></md-icon>

                        </div>
                      </md-list-item>
                    </md-content>


                  </div>
                </div>

              </div>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </div>
  </md-content>