<div ng-include src="'views/breadcrumb.html'"></div>

  <md-content>
    <div layout="row" class="background">

      <div class="col-md-3  sidebar-container">
        <sidebar model="device" type="'device'"
          delete-function="deleteReseller"
          software-versions="softwareVersions"
          default-software-version="defaultSoftwareVersion"
          can-modify-event-url-function="canModifyEventUrl"
          can-modify-image-server-url-function="canModifyImageServerUrl"
          create-software-version-function="openSoftwareVersionForm"
          can-modify-software-version-function="canModifySoftwareVersion"
          can-modify-checkin-interval-function="canModifyCheckinInterval"
          can-modify-signalling-server-function="canModifySignallingServer"/>
      </div>

      <div class="child-list col-md-8" layout-margin layout-fill layout-padding style="height:auto">

        <md-content class="card">

          <div layout="row" style="margin-left:10px;margin-right:10px; margin-top:20px; height:40px;" >
            <md-input-container flex style="margin: 5px 0px;">
              <label>License - activated on {{device.license.activationDate | date:'yyyy/MM/dd'}}</label>
                <input ng-model="device.license.key" disabled>
              </md-input-container>
              <md-input-container flex style="margin: 5px 0px;">
                <label>Device ID</label>
                <input ng-model="device.id" disabled>
              </md-input-container>
          </div>

          <md-tabs md-dynamic-height id="device-tab">
            <md-tab label="CHECK-IN">
              <div layout="column" style="margin:20px 20px 10px 20px;">
                <div layout="row">

                  <md-input-container style="margin-right: 10px;" flex="15" ng-show="!timelineView">
                      <label>Filter Status</label>
                      <md-select ng-model="selectedCheckinType">
                        <md-option ng-repeat="type in checkinTypes" value="{{type}}">{{type | capitalize}}</md-option>
                      </md-select>
                    </md-input-container>

                  <md-input-container style="margin-right: 10px;" flex="15" ng-show="!timelineView">
                      <label>Filter Reasons</label>
                      <md-select ng-model="selectedCheckinReason">
                        <md-option ng-repeat="reason in checkinReasons" value="{{reason.name}}">{{reason.name | capitalize}} ({{reason.count}})</md-option ng-disabled="reason.count == 0">
                      </md-select>
                    </md-input-container>


                    <md-button flex="15" class="md-primary" ng-click="loadPrevDay()" ng-if="device.id != sendingCheckin" ng-disabled="device.loadingMore" ng-show="timelineView">Prev Day</md-button>
                    <h3 style="text-align: center; " ng-show="timelineView" flex="30">{{currentDate | date: 'mediumDate' }}</h3>
                    <md-button flex="15" class="md-primary" ng-click="loadNextDay()" ng-if="device.id != sendingCheckin" ng-disabled="device.loadingMore" ng-show="timelineView">Next Day</md-button>

                  <div style="margin-right: 10px; text-align:right;" flex>
                    <md-button class="md-icon-button md-primary" aria-label="List" ng-click="timelineView = false" style="{{!timelineView ? 'background-color:#2196F3': ''}}">
                      <md-icon md-svg-icon="list"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button md-primary" aria-label="Timeline" ng-click="timelineView = true;" style="{{timelineView ? 'background-color:#2196F3': ''}}">
                      <md-icon md-svg-icon="timeline"></md-icon>
                    </md-button>
                    <md-button flex="15" class="md-primary" ng-click="checkin(device)" ng-if="device.id != sendingCheckin">Check-in</md-button>
                    <md-progress-circular md-mode="indeterminate" ng-if="device.id == sendingCheckin || device.loadingMore" md-diameter="30"></md-progress-circular>
                  </div>

                </div>

                <div layout="column" ng-show="timelineView" id="checkin-list">
                  <div id="timeline">

                  </div>

                  <md-tabs md-dynamic-height md-border-bottom style="position:absolute; top: 195px; width: 88%; left: 38px;" id="timeline-detail">

                    <md-tab label="devices status">
                      <md-content style="height:{{checkinHeight-250}}px;">
                      <div layout="column" style="margin:20px;">
                        <div layout="row" layout-align="space-around center">
                          <div layout="column" layout-align="start start" layout-fill>
                            
                            <div style="margin-bottom: 5px;"><b>Cameras</b></div>
                              <div layout="row" layout-fill layout-align="space-between center" ng-repeat="camera in device.currentGraphEntry.cameraInformation" style="padding-left: 25px;">
                                <span>{{ camera.name }}</span>
                                <span flex="20"/>
                                <md-icon md-svg-icon='indicator_{{camera.status === "online" ? "green" : camera.status === "offline" ? "red" : "yellow"}}'></md-icon>
                              </div>
                            <br/>

                            <div style="margin-bottom: 5px;"><b>POS Devices</b></div>
                            <div layout="row" layout-fill layout-align="space-between center" ng-repeat="posDevice in device.currentGraphEntry.posInformation" style="padding-left: 25px;">
                              <span>{{ posDevice.name }}</span>
                              <span flex="20"/>
                              <md-icon md-svg-icon='indicator_{{posDevice.status === "online" ? "green" : posDevice.status === "offline" ? "red" : "yellow"}}'></md-icon>
                            </div>
                          </div>
                        </div>
                      </div>
                      </md-content>
                    </md-tab>

                    <md-tab label="raw data">
                      <md-content style="height:{{checkinHeight-250}}px;">
                        <pre pretty-json="device.currentGraphEntry"></pre>
                      </md-content>
                    </md-tab>
                  </md-tabs>
                </div>

                <div layout="row" style="height:{{checkinHeight}}px;" ng-show="device.logEntries.length && !timelineView" layout-align="center stretch" id="checkin-list">

                  <md-content flex="40" style="border-left: 1px solid rgba(0, 0, 0, 0.117647);border-top: 1px solid rgba(0, 0, 0, 0.117647);border-bottom: 1px solid rgba(0, 0, 0, 0.117647);">
                    <md-list layout-padding>
                      <md-list-item class="md-3-line logEntries {{device.currentEntry.id === entry.id? ' active': ''}}" ng-repeat="entry in device.logEntries" ng-click="showCheckin(entry, $index)" id="logEntry-{{$index}}" ng-show="(selectedCheckinReason == 'all' || selectedCheckinReason == entry.reason) && (selectedCheckinType == 'show all' || selectedCheckinType == device.cameraStatus(entry))">
                        
                        <md-icon md-svg-icon='indicator_green' ng-if='entry.totalCameras && entry.onlineCameras == entry.totalCameras'>
                          <md-tooltip md-direction="top">
                            All cameras are online
                          </md-tooltip>
                        </md-icon>
                        <md-icon md-svg-icon='indicator_yellow' ng-if='entry.totalCameras && entry.onlineCameras < entry.totalCameras && entry.onlineCameras > 0'>
                          <md-tooltip md-direction="top">
                            {{entry.onlineCameras}} of {{entry.totalCameras}} cameras are online
                          </md-tooltip>
                        </md-icon>
                        <md-icon md-svg-icon='indicator_red' ng-if='entry.totalCameras && entry.onlineCameras == 0'>
                          <md-tooltip md-direction="top">
                            All cameras are offline
                          </md-tooltip>
                        </md-icon>

                        <md-icon ng-if='!entry.totalCameras'>
                          <md-tooltip md-direction="top">
                            Cameras data not available
                          </md-tooltip>
                        </md-icon>

                        <div class="md-list-item-text" layout="column" style="padding: 5px 0;">
                          <h4 style="font-weight:bold;font-size:12px;">{{ entry.timestamp | date: 'medium' }}</h4>
                          <div layout="row" style="">
                            <div class="md-body-1 checkin-camera-numbers" ng-if="entry.totalCameras">{{entry.onlineCameras}} of {{entry.totalCameras}} Cameras</div>
                            <div class="md-body-2 checkin-label" style="border:1px solid {{checkinColors[entry.reason]}};color:{{checkinColors[entry.reason]}};" ng-if="entry.reason">{{entry.reason | capitalize}}</div>
                          </div>
                        </div>
                        <md-divider ng-if="!$last || !device.noMoreLogs"></md-divider>
                      </md-list-item>

                      <md-list-item class="md-3-line load-more-logs" ng-click="loadMore(100)" ng-if="!device.noMoreLogs">
                        <md-icon md-svg-icon='cached'></md-icon>
                        <div class="md-list-item-text" layout="column" style="padding: 5px 0;">
                          Load more...
                        </div>
                      </md-list-item>


                    </md-list>
                  </md-content>

                <div ng-cloak flex style="border: 1px solid rgba(0, 0, 0, 0.117647);">
                  <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                      <md-tab label="devices status">
                        <md-content style="height:{{checkinHeight-51}}px;max-width:620px;">
                        <div layout="column" style="margin:20px;">
                          <div layout="row" layout-align="space-around center">
                            <div layout="column" layout-align="start start" layout-fill>

                              <div style="margin-bottom: 5px;"><b>Cameras</b></div>
                                <div layout="row" layout-fill layout-align="space-between center" ng-repeat="camera in device.currentEntry.cameraInformation" style="padding-left: 25px;">
                                  <span>{{ camera.name }}</span>
                                  <span flex="20"/>
                                  <md-icon md-svg-icon='indicator_{{camera.status === "online" ? "green" : camera.status === "offline" ? "red" : "yellow"}}'></md-icon>
                                </div>
                              <br/>

                              <div style="margin-bottom: 5px;"><b>POS Devices</b></div>
                              <div layout="row" layout-fill layout-align="space-between center" ng-repeat="posDevice in device.currentEntry.posInformation" style="padding-left: 25px;">
                                <span>{{ posDevice.name }}</span>
                                <span flex="20"/>
                                <md-icon md-svg-icon='indicator_{{posDevice.status === "online" ? "green" : posDevice.status === "offline" ? "red" : "yellow"}}'></md-icon>
                              </div>
                            </div>
                          </div>
                        </div>
                        </md-content>
                      </md-tab>

                      <md-tab label="raw data">
                        <md-content style="height:{{checkinHeight-51}}px;max-width:620px;">
                          <pre pretty-json="device.currentEntry"></pre>
                        </md-content>
                      </md-tab>
                    </md-tabs>
                  </md-content>
                </div>

                </div>

              </div>
            </md-tab>
            <!--<md-tab label="EVENTS">
              <div layout="column" style="margin: 20px;">
                <div layout="row" layout-align="space-around center">
                  <md-input-container>
                    <label>Transactions</label>
                    <md-select ng-model="device.transactions">
                      <md-option value="FIFO" selected>FIFO</md-option>
                      <md-option value="LIFO">LIFO</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container>
                    <label>Motion</label>
                     <md-select ng-model="device.motion">
                      <md-option value="FIFO">FIFO</md-option>
                      <md-option value="LIFO" selected>LIFO</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container>
                    <label>Bitrate</label>
                    <md-select ng-model="device.bitrate">
                      <md-option value="128" selected>128 kbps</md-option>
                      <md-option value="256">256 kbps</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container>
                      <label>Save Events for</label>
                      <md-select ng-model="device.saveEventsFor">
                        <md-option value="7" selected>7 Days</md-option>
                        <md-option value="17">14 Days</md-option>
                      </md-select>
                  </md-input-container>
                  <md-input-container>
                      <label>Max Number of Events</label>
                      <md-select ng-model="device.maxNumberOfEvents">
                        <md-option value="20000" selected>20000</md-option>
                        <md-option value="50000">50000</md-option>
                      </md-select>
                  </md-input-container>
                </div>
              </div>
            </md-tab>-->
            <md-tab label="DEVICES">
              <div layout="column" style="margin:20px;">
                <md-input-container>
                <div layout="row" layout-align="space-around center">
                  <div layout="column" layout-align="start start" layout-fill>

                    <div style="margin-bottom: 5px;"><b>Cameras</b></div>
                    <md-content layout-fill style="height:100px; border: 1px solid rgba(0, 0, 0, 0.117647)">
                      <md-list layout-padding>
                        <md-list-item style="height:26px; min-height:20px !important;" ng-repeat="camera in device.cameras">
                          <div layout="row" layout-fill layout-align="space-between center">
                            <span>{{ camera.name }}</span>
                            <span flex="20"/>
                            <md-icon md-svg-icon='indicator_{{camera.status === "online" ? "green" : camera.status === "offline" ? "red" : "yellow"}}'></md-icon>
                          </div>
                      </md-list-item>
                    </md-content>

                    <div flex></div>
                    <br/>

                    <div style="margin-bottom: 5px;"><b>POS Devices</b></div>
                    <md-content layout-fill style="height:100px; border: 1px solid rgba(0, 0, 0, 0.117647)">
                      <md-list layout-padding>
                        <md-list-item style="height:20px; min-height:20px !important;" ng-repeat="posDevice in device.posDevices">
                        <div layout="row" layout-fill layout-align="space-between center">
                          <span>{{ posDevice.name }}</span>
                          <span flex="20"/>
                          <md-icon md-svg-icon='indicator_{{posDevice.status === "online" ? "green" : posDevice.status === "offline" ? "red" : "yellow"}}'></md-icon>
                        </div>
                      </md-list-item>
                    </md-content>

                  </div>
                </div>

              </div>
            </md-tab>
            <md-tab label="SETTINGS">
              <div >
                <div layout="column" style="margin: 10px;">
                  <md-input-container>
                    <label> Override IP Address</label>
                    <input type="text" id="override" ng-model="device.overrideIpAddress" />
                  </md-input-container>

                  <md-input-container>
                    <label>VMS Port</label>
                    <input type="text" id="overrideVmsPort" ng-model="device.overrideVmsPort" />
                  </md-input-container>

                  <md-input-container>
                    <label>Connect Port</label>
                    <input type="text" id="overrideConnectPort" ng-model="device.overrideConnectPort" />
                  </md-input-container>

                  <md-input-container>
                    <label>Checkin Port</label>
                    <input type="text" id="overrideCheckinPort" ng-model="device.overrideCheckinPort" />
                  </md-input-container>

                  <md-input-container>
                    <label>Uploader Port</label>
                    <input type="text" id="overrideUploaderPort" ng-model="device.overrideUploaderPort" />
                  </md-input-container>

                  <md-input-container>
                    <label>Listener Port</label>
                    <input type="text" id="overrideListenerPort" ng-model="device.overrideListenerPort" />
                  </md-input-container>

                  <md-input-container>
                    <label>Camera Config Forward Port</label>
                    <input type="text" id="overrideConfigForwardPort" ng-model="device.overrideConfigForwardPort" />
                  </md-input-container>
                  
                </div> 
                <md-button class="md-raised" ng-click="modifySettings()" ng-disabled="isSavingSettings">OK</md-button>
              </div>
            </md-tab>
            <md-tab label="CONNECTORS">
              <div layout="column" style="margin:20px;">
                <md-input-container>
                <div layout="row" layout-align="space-around center">
                  <div layout="column" layout-align="start start" layout-fill>

                    <div style="margin-bottom: 5px;"><b>Listeners</b></div>
                    <md-content layout-fill style="height:200px; border: 1px solid rgba(0, 0, 0, 0.117647)">
                      <md-list layout-padding>
                        <md-list-item style="height:20px; min-height:20px !important;" ng-repeat="posInfo in checkinData[0].posInformation">
                        <div layout="row" layout-fill layout-align="space-between center">
                          <span class="pos-name">{{ posInfo.name }}</span>
                          <span class="pos-type">{{ posInfo.type }}</span>
                          <span class="pos-host" ng-if="posInfo.type == 'tcp'">{{ posInfo.host }}:{{ posInfo.port }}</span>
                          <span class="pos-url" ng-if="posInfo.type == 'socketio'">{{ posInfo.url }}</span>

                          <span flex="20"/>
                          <md-icon md-svg-icon='indicator_{{posInfo.status === "online" ? "green" : posInfo.status === "offline" ? "red" : "yellow"}}'></md-icon>

                        </div>
                      </md-list-item>
                    </md-content>


                  </div>
                </div>

              </div>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </div>
  </md-content>