<div layout="column" style="margin:20px;">
	<div layout="row" layout-fill>
		<div class="camera-info" flex="50">
			<h2 class="md-title">Cameras</h2>
			<div><a ng-href="" target="_blank">VMS</a></div>
			<div layout="row" layout-align="space-between center" ng-repeat="camera in device.currentEntry.cameraInformation">
				<div class="device-name" style="width: 120px;">{{ camera.name }}</div>
				<md-icon md-svg-icon='indicator_{{camera.status === "online" ? "green" : camera.status === "offline" ? "red" : "yellow"}}'></md-icon>
			</div>
		</div>

		<div class="pos-info" flex="50">
			<h2 class="md-title">POS Devices</h2>
			<div><a ng-href="{{listenerLink}}" target="_blank">Listener</a></div>
			<div layout="row" layout-align="space-between center" ng-repeat="posDevice in device.currentEntry.posInformation">
				<div class="device-name" style="width: 120px;">{{ posDevice.name }}</div>
				<md-icon md-svg-icon='indicator_{{posDevice.status === "online" ? "green" : posDevice.status === "offline" ? "red" : "yellow"}}'></md-icon>
			</div>
		</div>
	</div>
</div>