<md-dialog aria-label="New Licenses">
  
  <md-toolbar>
      <div class="md-toolbar-tools">
      <h2>New Licenses</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-icon='close' aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px;">
    <div>
      <md-input-container ng-hide="created">
        <div layout layout-align="space-around center">
          <div flex="30" layout layout-align="center center">
            <span class="md-body-1">Quantity</span>
          </div>
          
          <md-slider flex min="0" max="50" ng-model="quantity" aria-label="quantity" id="quantity-slider" class></md-slider>
          
          <div flex="30" layout layout-align="center center">
            <input type="number" ng-model="quantity" aria-label="quantity" aria-controls="quantity-slider" style="text-align:center;">
          </div>
        </div>
      </md-input-container>
      
      <md-content layout-fill ng-show="created" layout-padding style="height: 160px;padding: 24px;">
        <md-list class="license-list">
          <md-list-item style="height:16px; min-height:16px !important;" ng-repeat="key in licenseKeys">
            <pre style="margin: 0px;">{{key}}</pre>
          </md-list-item>
        </md-list>
      </md-content>
      <md-button ng-show="created" clip-copy="licenseKeyList" class="md-primary">
          <md-icon md-svg-icon='content_copy' aria-label="Copy to Clipboard"></md-icon> COPY
        </md-button>

    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-hide="created" ng-click="cancel()">
     Cancel
    </md-button>
    <md-button ng-hide="created" ng-click="create()" style="margin-right:20px;">
      Create
    </md-button>
    <md-button ng-show="created" ng-click="cancel()">
     Close
    </md-button>
  </div>
  
</md-dialog>