<div id="login-container">
	<form ng-submit="login()">
		<md-input-container style="width:100%"> 
	  		<label>Username</label>
	  		<input type="text" class="form-control focus" name="username" autocomplete="off" required ng-model="username" >
		</md-input-container>
		<md-input-container style="width:100%">
	  		<label>Password</label>
	  		<input type="password" class="form-control focus" name="password" autocomplete="off" required ng-model="password">
		</md-input-container>
		<button type="submit" class="button buttonBlue">Login</button>
	</form>
</div>
