<div>
  <md-content style="height:600px;">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="onMarkerClicked" options="'options'" events="map.markers2Events" fit="true">
        <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
          <div>
              <b ng-non-bindable >{{ customerName }}</b><br>
              <br>
              <a ng-click="model.selectDevice(model.deviceId)" style="text-decoration:underline;"><span
                ng-non-bindable>{{ deviceName }}</span></a>
          </div>
        </ui-gmap-windows>
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </md-content>
</div>