<div ng-include src="'views/breadcrumb.html'"></div>

<md-content>

  <div layout="row" class="background">

    <div class="col-md-3  sidebar-container">
      <sidebar model="reseller" type="'reseller'"
        delete-function="deleteReseller"
        software-versions="softwareVersions"
        default-software-version="defaultSoftwareVersion"
        add-filter-function="addFilter"
        add-report-function="addReport"
        action-filter-function="actionFilter"
        action-report-function="actionReport"
        edit-filter-function="editFilter"
        can-modify-event-url-function="canModifyEventUrl"
        can-modify-image-server-url-function="canModifyImageServerUrl"
        create-software-version-function="openSoftwareVersionForm"
        can-modify-software-version-function="canModifySoftwareVersion"
        can-modify-checkin-interval-function="canModifyCheckinInterval"
        can-modify-signalling-server-function="canModifySignallingServer"
        filters="filters"
        reports="reports"
        owned-reports="ownedReports"
        cascaded-reports="cascadedReports"
        children="children"
        owned-filters="ownedFilters"
        cascaded-filters="cascadedFilters"
        selected-filters="selectedFilters"
        filter-changed-function="filterChanged"
        report-changed-function="reportChanged"
        assign-filters-function="assignFilters"
        select-connector-function="selectConnector"/>
    </div>

    <div class="child-list col-md-8" layout-fill style="padding-left:16px" >
      <div layout="row" layout-align="space-between center" class="title-row">
        <h2>Customers</h2>
        <div class='create-button' ng-click="openCustomerForm($event, reseller)">
          <i class="material-icons add">add</i>
          <span>Create new Customer</span>
        </div>
      </div>
      <md-tabs md-dynamic-height>
        <md-tab label="LIST">
          <md-grid-list md-cols="1" md-row-height="50px" md-gutter="10px">
            <md-grid-tile ng-repeat="customer in reseller.customers" class="card"
              ng-click='selectCustomer(customer)' md-rowspan="0" md-colspan="1">
              <div layout-fill style="margin-left:10px"layout-align="start center">
                <span class="md-title" style="vertical-align: middle; line-height:50px;">{{customer.name}}</span>
              </div>
            </md-grid-tile>
          </md-grid-list>
        </md-tab>
        <md-tab label="MAP">
          <map devices="allDevices"></map>
        </md-tab>
      </md-tabs>

    </div>
  </div>
</md-content>

