<md-dialog aria-label="New Reseller">
  
  <md-toolbar>
      <div class="md-toolbar-tools">
      <h2>New Reseller</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-icon='close' aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div>
      <md-input-container>
        <label>Name</label>
        <input type="text" class="form-control focus" name="name" autocomplete="off" required ng-model="newReseller.name">
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input type="text" class="form-control" name="email" autocomplete="off" required ng-model="newReseller.email">
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" class="form-control" name="password" autocomplete="off" required ng-model="newReseller.password">
      </md-input-container>
      <md-input-container>  
        <label>Retype Password</label>
        <input type="password" class="form-control" name="checkPassword" autocomplete="off" required ng-model="newReseller.checkPassword">
      </md-input-container>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()">
     Cancel
    </md-button>
    <md-button ng-if="newReseller.password == newReseller.checkPassword" ng-click="create()" style="margin-right:20px;">
      Create
    </md-button>
  </div>
  
</md-dialog>