<div class="sidebar">
  <md-content>
    <div layout="row" layout-padding layout-align="space-between center" style="padding-left:24px">
        <div layout="column" layout-align="start start">
            <h2 style="margin-bottom:0px">{{model.name}}</h2>
            <p style="margin:2px 2px">{{model.email}}</p>
        </div>

        <div>
            <md-menu ng-show="type=='reseller'||type=='customer'">
                <i aria-label="interactions menu" ng-click="openMenu($mdOpenMenu, $event)" class="material-icons">arrow_drop_down_circle</i>

                <md-menu-content width="3">
                    <md-menu-item ng-show="type=='customer'">
                        <md-button ng-click="renameModel(model)">
                            <i class="material-icons">mode_edit</i>
                            Rename
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-show="type=='reseller'||type=='customer'">
                        <md-button ng-click="deleteModel(model)" >
                            <i style="vertical-align:middle" class="material-icons">delete</i>
                            Delete
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-show="type=='device'">
                        <md-button ng-click="sendCommand(model)">
                            <md-icon md-svg-icon="upload" md-menu-align-target></md-icon>
                            Send Command
                        </md-button>
                    </md-menu-item>
                </md-menu-content>

            </md-menu>
        </div>
    </div>

    <md-divider style="margin-bottom:10px"></md-divider>
    <div layout-padding>
      
      <div>
        <md-input-container ng-show="type=='cloud'||type=='reseller'||type=='customer'||type=='device'">
          <label>Check-in Interval</label>
          <input type="number" min="5" class="form-control focus" name="checkinInterval" autocomplete="off" required ng-model="model.checkinInterval" ng-disabled="!canModifyCheckinInterval(model)" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }">
        </md-input-container>
      </div>

      <div>
        <md-input-container ng-show="type=='cloud'||type=='reseller'||type=='customer'||type=='device'">
          <label>Software Version</label>
          <md-select ng-model="model.softwareVersionId" ng-disabled="!canModifySoftwareVersion(model)">
            <md-option ng-repeat="softwareVersion in softwareVersions" value="{{softwareVersion.id}}" ng-selected="softwareVersion.id === model.softwareVersionId">  
              <span ng-show="defaultSoftwareVersion.name===softwareVersion.name">Default: </span> {{softwareVersion.name}}
            </md-option>
          </md-select>
          <md-button class="md-primary" ng-show="type=='cloud'" ng-click="openSoftwareVersionForm($event)">Add Version</md-button>
        </md-input-container>
      </div>

      <div ng-show="type=='customer'">

        <md-subheader class="md-no-sticky">Licenses</md-subheader>
        <md-divider></md-divider>
        <md-list style="max-height:300px; overflow-y: scroll;">
          <md-list-item ng-repeat="license in model.licenses" ng-click="showLicense(license)">
            <p>{{license.key}}</p>

            <md-icon>
              <div style="height:75%;width:75%;background-color:{{license.activated ? '#26B326' : 'gray'}};border-radius:45px;"></div>
               <md-tooltip md-direction="left">
                  {{license.activated ? 'In Use' : 'Available'}}
                </md-tooltip>
            </md-icon>
          </md-list-item>

        </md-list>
        
        <md-button class="md-primary" ng-click="addLicense(model.id)">Add Licenses</md-button>
      </div>

      <div ng-show="type=='cloud'||type=='reseller'||type=='customer'">

        <!-- POS Filters -->
        <md-list style="max-height:300px; overflow-y: scroll;" ng-if="filters.length">
          <md-subheader class="md-no-sticky" style="color:black;">Connectors ({{filters.length}})</md-subheader>
          <md-list-item ng-repeat="filter in ownedFilters">
            <md-checkbox class="md-primary" ng-if="type!='cloud'" ng-model="filter.selected" ng-change="filterChanged(filter)" aria-label="Check"></md-checkbox>
            <p>{{filter.name}}</p>

            <div class="actions" >
              <md-icon class="md-secondary material-icons" ng-click="actionFilter(filter)" aria-label="{{filter.owner ? 'edit': 'show'}}" md-svg-icon="{{filter.owner ? 'edit': 'info'}}">
              </md-icon>
            </div>
          </md-list-item>

          <md-divider></md-divider>
          <md-list-item ng-repeat="filter in cascadedFilters">
            <md-checkbox class="md-primary" ng-if="type!='cloud'" ng-model="filter.selected" ng-change="filterChanged(filter)" aria-label="Check"></md-checkbox>
            <p>{{filter.name}}</p>

            <div class="actions" >
              <md-icon class="md-secondary material-icons" ng-click="actionFilter(filter)" aria-label="{{filter.owner ? 'edit': 'show'}}" md-svg-icon="{{filter.owner ? 'edit': 'info'}}">
              </md-icon>
            </div>
          </md-list-item>
          <md-divider></md-divider>
        </md-list>

        <md-button class="md-primary" ng-click="addFilter(model.id)">Add Connector</md-button>

        <!-- Reports -->
        <md-list style="max-height:300px; overflow-y: scroll;" ng-if="reports.length">
          <md-subheader class="md-no-sticky" style="color:black;">Reports ({{reports.length}})</md-subheader>
          <md-list-item ng-repeat="report in ownedReports">
            <md-checkbox class="md-primary" ng-if="type!='cloud'" ng-model="report.selected" ng-change="reportChanged(report)" aria-label="Check"></md-checkbox>
            <p>{{report.name}}</p>

            <div class="actions" >
              <md-icon class="md-secondary material-icons" ng-click="actionReport(report)" aria-label="{{report.owner ? 'edit': 'show'}}" md-svg-icon="{{report.owner ? 'edit': 'info'}}">
              </md-icon>
            </div>
          </md-list-item>

          <md-divider></md-divider>
          <md-list-item ng-repeat="report in cascadedReports">
            <md-checkbox class="md-primary" ng-if="type!='cloud'" ng-model="report.selected" ng-change="reportChanged(report)" aria-label="Check"></md-checkbox>
            <p>{{report.name}}</p>

            <div class="actions" >
              <md-icon class="md-secondary material-icons" ng-click="actionReport(report)" aria-label="{{report.owner ? 'edit': 'show'}}" md-svg-icon="{{filter.owner ? 'edit': 'info'}}">
              </md-icon>
            </div>
          </md-list-item>
          <md-divider></md-divider>
        </md-list>

        <md-button class="md-primary" ng-click="addReport(model.id)">Add Report</md-button>
      </div>

<!-- URLS -->
<md-divider></md-divider>
  <div>
      <md-input-container ng-show="type=='cloud'||type=='reseller'" >
        <label>Event Server URL</label>
        <input name="eventServerUrl" type="url" class="form-control focus" autocomplete="off" ng-model="model.eventServerUrl" placeholder="{{model.cloud.eventServerUrl}}" ng-disabled="!canModifyEventUrl(model)" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }">
        <div align="right">
          <button class="md-button md-primary md-hue" ng-hide="model.eventServerUrl===''||type=='cloud'" data-ng-click="model.eventServerUrl=''">Reset to Default</button>
        </div>
      </md-input-container>
                  
      <md-input-container ng-show="type=='cloud'||type=='reseller'">
        <label>Image Server URL</label>
        <input name="imageServerUrl" type="url" class="form-control focus" autocomplete="off" placeholder="{{model.cloud.imageServerUrl}}" ng-model="model.imageServerUrl" ng-disabled="!canModifyImageServerUrl(model)" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }">
        <div align="right">
          <button class="md-button md-primary md-hue" ng-hide="model.imageServerUrl===''||type=='cloud'" data-ng-click="model.imageServerUrl=''">Reset to Default</button>
        </div>
      </md-input-container>

      <md-input-container ng-show="type=='cloud'">
        <label>Signalling Server</label>
        <input type="text" class="form-control focus" name="signallingServerUrl" autocomplete="off" required ng-model="model.signallingServerUrl" ng-disabled="!canModifySignallingServer(model)" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }">
      </md-input-container>

      <span ng-show="type=='cloud'">
      <div layout="row" layout-align="space-between center">
        <md-subheader class="md-no-sticky">TURN Server URLs</md-subheader>
        <div>
          <i class="material-icons" ng-click="addServerUrl(model, 'turnServerUrl')">add_circle</i> 
        </div>
      </div>
      <md-divider></md-divider>
      <md-list style="max-height:300px; overflow-y: scroll;">
        <md-list-item ng-repeat="url in model.turnServerUrl">
          <p id="url">{{url}}</p> <i class="material-icons" ng-model="model.deleteServerUrl" ng-click="deleteServerUrl(model,'turnServerUrl',url)">delete</i>
        </md-list-item>
      </md-list>

      <div layout="row" layout-align="space-between center" ng-show="type=='cloud'">
        <md-subheader class="md-no-sticky">STUN Server URLs</md-subheader>
        <div>
          <i class="material-icons" ng-click="addServerUrl(model,'stunServerUrl')">add_circle</i> 
        </div>
    </div>
      <md-divider></md-divider>
      <md-list style="max-height:300px; overflow-y: scroll;">
        <md-list-item ng-repeat="url in model.stunServerUrl">
          <p id="url">{{url}}</p> <i class="material-icons" ng-model="model.deleteServerUrl"ng-click="deleteServerUrl(model,'stunServerUrl',url)">delete</i>
        </md-list-item>
      </md-list>
    </span>

  </div>
  </md-content>
</div>