<div class="sidebar">
  
  <div style="margin-left:10px; margin-right:10px;">

    <div layout="row" layout-padding layout-align="space-between center">

      <h2>{{model.name}}</h2>

      <md-menu>
        <md-button aria-label="interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon md-menu-origin md-svg-icon="drop_down" style="color:red;"></md-icon>
        </md-button>
        <md-menu-content width="4">
          
          <md-menu-item ng-show="type=='reseller'||type=='customer'">
            <md-button ng-click="deleteModel(model)">
              <md-icon md-svg-icon="close" md-menu-align-target></md-icon>
              Delete
            </md-button>
          </md-menu-item>

          <md-menu-item ng-show="type=='device'">
            <md-button ng-click="sendCommand(model)">
              <md-icon md-svg-icon="upload" md-menu-align-target></md-icon>
              Send Command
            </md-button>
          </md-menu-item>

        </md-menu-content>
      </md-menu>

    </div>
    
    <md-divider></md-divider>
    <div layout-padding>
      <md-input-container ng-show="type=='cloud'||type=='reseller'">
        <label>Event Server URL</label>
        <input required name="description" ng-model="model.eventServerUrl">
      </md-input-container>    
                  
      <md-input-container ng-show="type=='cloud'||type=='reseller'">
        <label>Image Server URL</label>
        <input type="text" class="form-control focus" name="imageServerUrl"  autocomplete="off" required ng-model="model.imageServerUrl">
      </md-input-container>

      <md-input-container ng-show="type=='cloud'||type=='reseller'||type=='customer'||type=='device'">
        <label>Check-in Interval</label>
        <input type="text" class="form-control focus" name="checkinInterval" autocomplete="off" required ng-model="model.checkinInterval">
      </md-input-container>

      <md-input-container ng-show="type=='cloud'||type=='reseller'||type=='customer'||type=='device'">
        <label>Software Version</label>
        <input type="text" class="form-control focus" name="updateUrl" autocomplete="off" required ng-model="model.updateUrl">
      </md-input-container>

      <md-input-container ng-show="type=='cloud'">
        <label>Signalling Server</label>
        <input type="text" class="form-control focus" name="signallingServerUrl" autocomplete="off" required ng-model="model.signallingServerUrl">
      </md-input-container>

      <div ng-show="type=='cloud'||type=='reseller'">
        <md-input-container >
          <div style="margin:5px 0px 5px 0px;">POS Connectors</div>
          <md-content layout-padding style="height: 100px; padding: 0px; border: 1px solid rgba(0, 0, 0, 0.117647)">  
            <md-list>
              <md-list-item ng-repeat="connector in model.posConnectors">
                  <md-button ng-click="selectConnector(connector)" ng-class="{'cloud' : connector === cloudController.cloud }">
                    {{connector.name}}
                  </md-button>
              </md-list-item>
            </md-list>
          </md-content>
        </md-input-container>
      </div>

      <div ng-show="type=='customer'">
        <div style="margin:30px 0px 5px 0px;">Licenses</div>
          <md-content layout-padding style="height: 200px; padding: 0px; border: 1px solid rgba(0, 0, 0, 0.117647)">  
            <md-list ng-show="model.licenses && model.licenses.length > 0">
              <md-list-item ng-repeat="license in model.licenses">
                  <md-button ng-click='showLicense(license)'>
                    <div layout="row" layout-align="start center">
                      <div>{{license.key}}</div>
                      <div flex></div>
                      <div>{{license.activated ? "In Use" : "Available"}}</div>
                    </div>
                  </md-button>
              </md-list-item>
            </md-list>
          </md-content>
        
        <md-button class="md-primary" ng-click="addLicense(model.id)">Add Licenses</md-button>
      </div>

    </div>
  </div>
</div>